#grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin: 0 auto;
 }

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
}

#equals {
    background-color: #0c7ad4;
}

#input {
    max-width: 30vw;
    margin: 0 auto;
}

header {
    /* background-color: #2196F3; */
    text-align: center;
    padding: 12px 32px;
}

#input-field {
    grid-column: span 4;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: auto
}

#content {
margin: 0;
padding: 0;
}

body {
    margin: 0;
    padding: 0;
}